
.restriction--body {
    margin: 10px;
    background-color: #FAF2F2
}

.restriction--footer {
    margin: 10px;
    background-color: #FAF2F2
}

.restriction--subheader {
    margin: 10px;
    background-color: #FAF2F2;
    color: #ACACAC;
}

.restriction--block {
    margin: 10px;
    background-color: #FCFCFC;
    border-color: #AcACAC;
    border-style: solid;
    border-width: 1px;
}

.restriction--header {
    margin: 10px;
    background-color: #FAF2F2;
}

.restriction--email {
    color: #AACCFF;
}
