body {
  padding: 50px;
  font: 20px/150% "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
  color: #666;
  background: wheat;
}

input,
textarea,
button {
  font: inherit;
}



.restriction--body {
    margin: 10px;
    background-color: #FAF2F2
}

.restriction--footer {
    margin: 10px;
    background-color: #FAF2F2
}

.restriction--subheader {
    margin: 10px;
    background-color: #FAF2F2;
    color: #ACACAC;
}

.restriction--block {
    margin: 10px;
    background-color: #FCFCFC;
    border-color: #AcACAC;
    border-style: solid;
    border-width: 1px;
}

.restriction--header {
    margin: 10px;
    background-color: #FAF2F2;
}

.restriction--email {
    color: #AACCFF;
}

.card--image {
    height: 200px;
    width: 200px;
}


.event--map {
    height: 500px;
    width: 500px;
}