<md-content layout="column" layout-align="space-around center">
    <md-toolbar class="md-tall md-primary">
      <span flex></span>
      <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
        <span class="md-flex">This One Event</span>
      </h2>
    </md-toolbar>
    <md-whiteframe class="md-whiteframe-z1">
        <md-card class="md-raised md-accent hue-2">
            <img ng-if="event.img" src="https://www.riga.lv{{event.img}}" class="card--image"/>
            <md-card-content clsss="md-accent">
                <h2 class="md-title">{{event.title}}</h2>
                <p>
                    {{event.description}}
                </p>
                <p>
                    {{event.fullDescr}}
                </p>
            </md-card-content>
            <div>
                {{event.author}}
            </div>
          <!--<div class="md-actions" layout="row" layout-align="end center">-->
          <!--  <md-button>Action 1</md-button>-->
          <!--  <md-button>Action 2</md-button>-->
          <!--</div>-->
        </md-card>
    </md-whiteframe>
    <md-button ng-click="savepaths()">Save</md-button>
</md-content>
<leaflet class="event--map" paths="paths" center="center" defaults="defaults"></leaflet>