<div>HERE BE LEAFLET AND MAY BE DRAGON OR MORE!
    <leaflet class="event--map" center="taipei" defaults="defaults"></leaflet>
</div>

<div>HERE BE LEAFLET AND MAY BE DRAGON OR MORE!
    <leaflet class="event--map" center="taipei" paths="paths" defaults="defaults"></leaflet>
</div>
